<div class="settings-container settings-region-container p-sm">
  <div *ngIf="activeRegions.length !== 0" class="new-button-div text-right">
    <button class="btn btn-primary" (click)="add(regionForm)">New Zone</button>
  </div>

  <div *ngIf="activeRegions.length === 0" class="empty-state p-md text-center">
    <div class="empty-icon">
      <i [ngClass]="icon"></i>
    </div>
    <h4>No zones added yet.</h4>
    <div class="text-sm text-grey">Click the button below to add new zone.</div>
    <div class="text-center mt-md">
      <button class="btn btn-primary btn-sm btn-outline" (click)="add(regionForm)">New Zone</button>
    </div>
  </div>

  <div *ngIf="activeRegions.length > 0" class="added-region-container mt-md">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-responsive table-striped">
      <thead>
        <tr>
          <th style="width: 20%;">Zone Name</th>
          <th style="width: 45%;">Description</th>
          <th style="width: 15%;">Employee Count</th>
          <th style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of activeRegions">
          <td>
            <span>{{ item.region }}</span>
          </td>
          <td>
            <span>{{ item.description }}</span>
          </td>
          <td>
            <span>{{ item.employeesCount }}</span>
          </td>
          <td>
            <button class="btn btn-primary btn-outline btn-xs mr-sm" [tooltip]="'Edit zone information'"
              (click)="edit(item)">
              <i class="fas fa-pen"></i>
              <!-- <span>Edit</span> -->
            </button>

            <button class="btn btn-danger btn-xs"
              [tooltip]="item.employeesCount > 0 ? 'Cannot delete this zone as employees are assigned to it.' : 'Delete this zone.'"
              [disabled]="item.employeesCount > 0" (click)="deleteAlert(item)">
              <i class="fas fa-trash"></i>
              <!-- <span>Delete</span> -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="text-center mt-lg pt-lg b-t">
    <button class="btn btn-primary" (click)="updateCompanySettings()" [disabled]="isProcessing"
      [ngClass]="isProcessing ? 'spinning' : ''">
      <span>Save Regions</span>
      <i class="fas fa-spinner spinner ml-xs"></i>
    </button>
  </div> -->

  <app-custom-modal #regionModal [title]=" region.regionId ? 'Update Zone Details' : 'Add New Zone'"
    [subTitle]="'Enter the details for the zone to add or update the information.'">
    <div class="new-documentation">
      <div *ngIf="isAdded" class="mt-sm mb-sm alert alert-danger alert-sm">
        The zone you are trying to add is already present. Try another zone.
      </div>
      <form #regionForm="ngForm" class="form show-character-count">
        <div class="form-group">
          <label class="form-title required">Zone Name</label>
          <label class="form-explanation">Enter the name of the zone.</label>
          <input #regionVar="ngModel" class="form-control" name="region" [(ngModel)]="region.region" type="text"
            required [disabled]="isUpdating" />
          <app-custom-validation [model]="regionVar" [required]="'Enter the name for the zone.'">
          </app-custom-validation>
        </div>
        <div class="form-group">
          <label class="form-title">Zone Description</label>
          <label class="form-explanation">Enter the description for the zone that is created.</label>
          <textarea #descriptionVar="ngModel" class="form-control" name="description" [(ngModel)]="region.description"
            rows="5" characterCount characterLimit="500"></textarea>
        </div>
      </form>
    </div>

    <div footer-buttons class="footer-buttons">
      <button class="btn btn-primary" (click)="addOrUpdate()">
        <span>{{ region.regionId ? 'Update Zone' : 'Add Zone' }}</span>
      </button>
    </div>

  </app-custom-modal>
</div>
