.settings-tab-container {
  .tab-container {
    .nav-item {
      border-radius: 0;
      opacity: 0.5;
      font-weight: 400;
      position: relative;
      border: 1px solid $lighter-grey;
      border-top: none;

      .nav-link {
        border: none;
        border-radius: 0;
        padding: 0;

        .tab-header {
          display: flex;
          height: 40px;
          display: flex;
          justify-content: center;
          min-width: 40px;

          .tab-header-icon {
            color: $dark-grey;
            font-size: $font-size-xl;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3px 0;
          }

          .tab-header-content {
            min-height: 30px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            border-radius: 0;
            flex: 1;
            display: none;

            .header {
              font-weight: 500;
              font-size: $font-size-lg;
              color: $dark-grey;
            }

            .sub-header {
              font-size: $font-size-xs;
              color: $mid-grey;
            }
          }
        }

        &.active {
          background-color: $lighter-grey;
        }
      }

      &:first-of-type {
        border-top: 1px solid $lighter-grey;
      }


      &:hover {
        &:not(.active) {
          background: $lighter-grey;
        }
      }
    }

    &.tab-vertical {
      .nav-item {
        .nav-link {
          padding: 0;
        }

        &.active {
          opacity: 1;
          background-color: $lighter-grey;

          &:before {
            content: '';
            width: 4px;
            border-radius: 10px;
            background-color: $primary;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
          }
        }
      }
    }

    &.tab-horizontal {
      .nav-item {
        &.active {
          opacity: 1;
          background-color: $lighter-grey;

          &:before {
            content: '';
            width: 100%;
            background-color: $primary;
            left: 0;
            bottom: 0;
            border-radius: 0;
            height: 3px;
            position: absolute;
            top: unset;
          }
        }
      }
    }
  }

  .tab-body {
    padding-left: $spacing-sm;

    .header-content {
      padding-bottom: $spacing-sm;
      border-bottom: 1px solid $mid-grey;
      position: relative;

      .heading {
        width: 70%;
      }

      .sub-title {
        display: none;
        width: 70%;
      }
    }
  }


  &.show-content {
    .nav {
      width: 20%;
    }

    .tab-header-icon {
      width: 40px !important;
      margin: 0 !important;
    }

    .tab-header-content {
      display: flex !important;
    }
  }
}

.settings-container {
  // max-height: 500px;
  // overflow: auto;

  .new-button-div {
    position: absolute;
    right: 5px;
    top: 0;
  }

  .empty-state {
    opacity: 0.7;

    .empty-icon {
      width: 75px;
      margin: auto;
      margin-bottom: 30px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $lighter-grey;
      border-radius: 100px;
      font-size: 20px;
    }
  }
}

.added-ticketfaq-container {
  p {
    margin: 0;
  }
}

.company-settings-container {
  .logo-preview {
    margin: 20px 0;

    &.full-logo {
      img {
        width: 100%;
      }
    }

    &.small-logo {
      img {
        width: 100px;
        height: auto;
      }
    }

  }
}
