<div class="settings-container settings-department-container p-sm">
  <div *ngIf="activeDepartments.length !== 0" class="new-button-div text-right">
    <button class="btn btn-primary" (click)="add(departmentForm)">New Department</button>
  </div>

  <div *ngIf="activeDepartments.length === 0" class="empty-state p-md text-center">
    <div class="empty-icon">
      <i [ngClass]="icon"></i>
    </div>
    <h4>No departments added.</h4>
    <div class="text-sm text-grey">Click the button below to add new department.</div>
    <div class="text-center mt-md">
      <button class="btn btn-primary btn-sm btn-outline" (click)="add(departmentForm)">New Department</button>
    </div>
  </div>

  <div *ngIf="activeDepartments.length > 0" class="added-department-container mt-md">
    <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-responsive table-striped">
      <thead>
        <tr>
          <th style="width: 20%;">Department Name</th>
          <th style="width: 45%;">Description</th>
          <th style="width: 15%;">Employees Count</th>
          <th style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of activeDepartments">
          <td>
            <span>{{ item.name }}</span>
          </td>
          <td>
            <span>{{ item.description }}</span>
          </td>
          <td>
            <span>{{ item.employeesCount }}</span>
          </td>
          <td>
            <button class="btn btn-primary btn-outline btn-xs mr-sm" [tooltip]="'Edit department information'"
              (click)="edit(item)">
              <i class="fas fa-pen"></i>
              <!-- <span>Edit</span> -->
            </button>

            <div class="d-inline-block"
              [tooltip]="item.employeesCount > 0 ? 'Cannot delete this department as employees are assigned to it.' : 'Delete this department.'">
              <button class="btn btn-danger btn-xs" (click)="deleteAlert(item)" [disabled]="item.employeesCount > 0">
                <i class="fas fa-trash"></i>
                <!-- <span>Delete</span> -->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="text-center mt-lg pt-lg b-t">
    <button class="btn btn-primary" (click)="updateCompanySettings()" [disabled]="isProcessing"
      [ngClass]="isProcessing ? 'spinning' : ''">
      <span>Save Departments</span>
      <i class="fas fa-spinner spinner ml-xs"></i>
    </button>
  </div> -->

  <app-custom-modal #departmentModal
    [title]=" department.departmentId ? 'Update Department Details' : 'Add New Department'"
    [subTitle]="'Enter the details for the department to add or update the information.'" [modalSize]="'md'">
    <div class="new-documentation">
      <div *ngIf="isDepartmentAdded" class="mt-sm mb-sm alert alert-danger alert-sm">
        The department you are trying to add is already present. Try another department.
      </div>
      <form #departmentForm="ngForm" class="form show-character-count">

        <div class="form-group">
          <label class="form-title required">Department Name</label>
          <label class="form-explanation">Enter the name of the department.</label>
          <input #departmentVar="ngModel" class="form-control" name="department" [(ngModel)]="department.name"
            type="text" required [disabled]="isUpdating" />
          <app-custom-validation [model]="departmentVar" [required]="'Enter the name for the department.'">
          </app-custom-validation>
        </div>

        <div class="form-group">
          <label class="form-title">Department Description</label>
          <label class="form-explanation">Enter the description for the department that is created.</label>
          <textarea #descriptionVar="ngModel" class="form-control" name="description"
            [(ngModel)]="department.description" rows="5" characterCount characterLimit="500"></textarea>
        </div>
      </form>
    </div>

    <div footer-buttons class="footer-buttons">
      <button class="btn btn-primary" (click)="addOrUpdate()" [disabled]="!departmentForm.valid">
        <span>{{ isUpdating ? 'Update Department' : 'Add Department' }}</span>
      </button>
    </div>

  </app-custom-modal>

</div>
