<div class="employee-list-container">
  <div class="content-box">
    <div class="box-header">
      <div class="header-content">
        <h3 class="">Employees</h3>
        <div class="sub-title">You can list all the employees in the company at present and before. Employees can be
          searched or filtered using various filters available. Creating and updating employees will also be done from
          this section.</div>
      </div>
    </div>

    <div class="box-content">
      <div class="text-right actions-container">
        <button *ngIf="isFilterSet" class="btn btn-secondary btn-md mr-sm btn-outline"
          (click)="clearFilter(filtersForm)">
          <span>Clear Filter</span>
        </button>
        <button class="btn btn-dark btn-md mr-sm" [ngClass]="isFilterSet ? '' : 'btn-outline'" (click)="showFilters()">
          <span>{{ isFilterSet ? 'Change Filter' : 'Filter' }}</span>
        </button>
        <button class="btn btn-primary btn-md" (click)="addEmployeeModal(employeeForm)">
          <span>Add Employee</span>
        </button>
      </div>

      <div class="employees-list mt-md">
        <table *ngIf="employees.length > 0" datatable [dtOptions]="dtOptions" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th style="width: 20%;">Name</th>
              <th style="width: 20%;">Email</th>
              <th style="width: 8%;">Code</th>
              <th>Department</th>
              <th>Designation</th>
              <th>Grade</th>
              <th>Location</th>
              <th>Status</th>
              <th>Verification</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees">
              <td class="text-center">
                <div class="login-status">
                  <div *ngIf="item.canLogin" class="status-indicator status-indicator-xs status-indicator-success"
                    [tooltip]="'Login Enabled'">
                  </div>
                  <div *ngIf="!item.canLogin" class="status-indicator status-indicator-xs status-indicator-danger"
                    [tooltip]="'Login Disabled'">
                  </div>
                </div>
              </td>
              <td>
                <div>{{ item.name }}</div>
                <div *ngIf="item.role === 'Admin'" class="text-xxs text-primary">
                  <span>{{ item.role }}</span>
                </div>
                <div *ngIf="item.role === 'HR'" class="text-xxs text-success">
                  <span>{{ item.role }}</span>
                </div>
                <div *ngIf="item.role === 'Employee'" class="text-xxs text-secondary">
                  <span>{{ item.role }}</span>
                </div>
              </td>
              <td>{{ item.emailId }}</td>
              <td>
                <div *ngIf="item.role !== 'Admin'">
                  <div *ngIf="item.code && item.code !== ''" class="text-sm mt-xxs text-primary"><b>{{ item.code }}</b>
                  </div>
                  <div *ngIf="!item.code || item.code === ''" class="text-sm mt-xxs text-danger"><b>NOT SET</b></div>
                </div>

              </td>
              <td>{{ item.department }}</td>
              <td>{{ item.designation }}</td>
              <td>{{ item.grade }}</td>
              <td>{{ item.location }}</td>
              <td>
                <div *ngIf="item.status && item.status === 'on-roll'" class="badge badge-success badge-alternate">
                  <span>On Roll</span>
                </div>
                <div *ngIf="item.status && item.status !== 'on-roll'" class="badge badge-danger badge-alternate">
                  <span>Off Roll</span>
                </div>
              </td>
              <td>
                <div *ngIf="item.isVerificationPending" class="badge badge-danger badge-alternate">
                  <span>Pending</span>
                </div>
                <div *ngIf="!item.isVerificationPending" class="badge badge-success badge-alternate">
                  <span>Verified</span>
                </div>
              </td>
              <td class="text-center">
                <div *ngIf="item.role !== 'Admin'" class="btn-group btn-dropdown ks-dropdown" dropdown>
                  <button type="button" dropdownToggle
                    class="btn btn-primary dropdown-toggle btn-sm btn-dropdown hide-caret" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <div>
                      <h6 class="dropdown-header">Employee Actions</h6>
                      <!-- <li>
                        <a *ngIf="item.role !== 'Admin'" class="dropdown-item default">View
                          Employee
                          Snapshot</a>
                      </li> -->
                      <li>
                        <a *ngIf="item.role !== 'Admin'" class="dropdown-item default"
                          (click)="viewEmployeeDetails(item)">View
                          Employee
                          Details</a>
                      </li>
                      <li>
                        <a *ngIf="item.role !== 'Admin'" class="dropdown-item default" (click)="toggleLoginAlert(item)">
                          {{ item.canLogin ? 'Disable Login' : 'Enable Login' }}
                        </a>
                      </li>
                      <li>
                        <a *ngIf="item.role !== 'Admin'" class="dropdown-item dropdown-item-danger"
                          (click)="deleteEmployeeAlert(item)">
                          Delete Employee
                        </a>
                      </li>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="employees.length === 0" class="empty-state p-md text-center">
          <div class="empty-icon">
            <i class="fas fa-users"></i>
          </div>

          <div *ngIf="isFilterSet">
            <h4>No employees match the filters set.</h4>
            <div class="text-sm text-grey">Change the filters to match employees but clicking below button.</div>
            <div class="text-center mt-md">
              <button class="btn btn-primary btn-sm btn-outline" (click)="showFilters()">
                <span>Filters</span>
              </button>
            </div>
          </div>

          <div *ngIf="!isFilterSet">
            <h4>No employees added.</h4>
            <div class="text-sm text-grey">Click the button below to add new employee.</div>
            <div class="text-center mt-md">
              <button class="btn btn-primary btn-sm btn-outline" (click)="addEmployeeModal(employeeForm)">
                <span>Add Employee</span>
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>

    <app-custom-modal #filterModal [title]="'Filter Employees'"
      [subTitle]="'Choose various filters to refine the employee search.'" [modalSize]="'lg'">
      <div class="filter-employee">

        <form #filtersForm="ngForm" class=" row no-x-m">

          <div class="form-group col-lg-4">
            <label class="form-title">Employee Name</label>
            <label class="form-explanation">Enter the name of the employee to search.</label>
            <input #employeeVar="ngModel" class="form-control" name="employee" [(ngModel)]="employeeFilter.name"
              type="text" />
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Employee Email</label>
            <label class="form-explanation">Enter the email of the employee to search.</label>
            <input #employeeEmailVar="ngModel" class="form-control" name="employeeEmail"
              [(ngModel)]="employeeFilter.emailId" type="text" />
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Employee Phone</label>
            <label class="form-explanation">Enter the phone of the employee to search.</label>
            <input #employeePhoneVar="ngModel" class="form-control" name="employeePhone"
              [(ngModel)]="employeeFilter.phoneNumber" type="text" />
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Employee Code</label>
            <label class="form-explanation">Enter the code of the employee to search.</label>
            <input #employeeCodeVar="ngModel" class="form-control" name="employeeCodeVar"
              [(ngModel)]="employeeFilter.code" type="text" />
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Role</label>
            <label class="form-explanation">Choose the role of the employees to be searched for.</label>
            <ng-select #roleVar="ngModel" name="roleOptions" [(ngModel)]="employeeFilter.roleSelections"
              (change)="employeeFilter.roles = selectMultiple($event)" [items]="employeeRoles" [multiple]="true"
              [clearable]="true">
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Department</label>
            <label class="form-explanation">Choose the department of the employees to be searched for.</label>
            <ng-select #departmentVar="ngModel" name="departmentVar" [(ngModel)]="employeeFilter.departmentSelections"
              (change)="employeeFilter.departments = selectMultiple($event)" [items]="departmentOptions"
              [multiple]="true" [clearable]="true">
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Location</label>
            <label class="form-explanation">Choose the location of the employees to be searched for.</label>
            <ng-select #locationVar="ngModel" name="locationVar" [(ngModel)]="employeeFilter.locationSelections"
              (change)="employeeFilter.locations = selectMultiple($event)" [items]="locationOptions" [multiple]="true"
              [clearable]="true">
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Grade</label>
            <label class="form-explanation">Choose the grades of the employees to be searched for.</label>
            <ng-select #gradeVar="ngModel" name="gradeVar" [(ngModel)]="employeeFilter.gradeSelections"
              (change)="employeeFilter.grades = selectMultiple($event)" [items]="gradeOptions" [multiple]="true"
              [clearable]="true">
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Designation</label>
            <label class="form-explanation">Choose the designation of the employees to be searched for.</label>
            <ng-select #designationVar="ngModel" name="designationVar"
              [(ngModel)]="employeeFilter.designationSelections"
              (change)="employeeFilter.designations = selectMultiple($event)" [items]="designationOptions"
              [multiple]="true" [clearable]="true">
            </ng-select>
          </div>

          <div class="form-group col-lg-4">
            <label class="form-title">Status</label>
            <label class="form-explanation">Choose the status of the employees to be searched for.</label>
            <ng-select #statusVar="ngModel" name="statusVar" [(ngModel)]="employeeFilter.statusSelections"
              (change)="employeeFilter.status = selectMultiple($event)" [items]="statusOptions" [multiple]="true"
              [clearable]="true">
            </ng-select>
          </div>

        </form>

      </div>

      <div footer-buttons class="footer-buttons">

        <button class="btn btn-dark btn-outline mr-sm" [disabled]="isFiltering" (click)="clearFilter(filtersForm)">
          <span>Clear Filter</span>
        </button>

        <button class="btn btn-primary" [disabled]="isFiltering" [ngClass]="isFiltering ? 'spinning' : ''"
          (click)="applyFilter()">
          <span>Apply Filter</span>
          <i class="fas fa-spinner spinner"></i>
        </button>
      </div>

    </app-custom-modal>

    <app-custom-modal #employeeModal [title]="'Add New Employee'"
      [subTitle]="'Enter the details of the employee to be added. Once added you can update more details in the employee details page.'">
      <div class="new-employee">
        <form #employeeForm="ngForm" class="form show-character-count">

          <div *ngIf="isEmailAlreadyAdded" class="alert alert-danger alert-sm">
            <span>An employee with the same email id is already added in the system. Duplicate email ids cannot be
              added.</span>
          </div>

          <div class="form-group">
            <label class="form-title required">Employee Name</label>
            <label class="form-explanation">Enter the name of the employee.</label>
            <input #employeeVar="ngModel" class="form-control" name="employee" [(ngModel)]="newEmployee.name"
              type="text" required />
            <app-custom-validation [model]="employeeVar" [required]="'Enter the name for the employee.'">
            </app-custom-validation>
          </div>

          <div class="form-group">
            <label class="form-title required">Employee Email</label>
            <label class="form-explanation">Enter the official login email for the employee.</label>
            <input #employeeEmailVar="ngModel" class="form-control" name="employeeEmail"
              [(ngModel)]="newEmployee.officialEmail" type="email" ngvemail required />
            <app-custom-validation [model]="employeeEmailVar" [required]="'Enter the official email for the employee.'"
              [email]="'Enter the email properly.'">
            </app-custom-validation>
          </div>

          <div class="form-group">
            <label class="form-title required">Copy Employee Data?</label>
            <label class="form-explanation">Do you want to copy the employee data from a resigned employee?</label>

            <div class="col-12">
              <input #copyDataVar="ngModel" name="copydata-checkbox" class="custom-checkbox primary"
                id="copydata-checkbox" type="checkbox" [value]="true" [(ngModel)]="newEmployee.copyData">
              <label for="copydata-checkbox">
                <span class="text">Copy Data</span>
              </label>
            </div>

          </div>

          <div *ngIf="newEmployee.copyData" class="form-group">
            <label class="form-title">Employee Unique Code</label>
            <label class="form-explanation">Enter the unique code of the employe you want to copy the details
              from.</label>
            <input #uniqueCodeVar="ngModel" class="form-control" name="uniqueCodeVar"
              [(ngModel)]="newEmployee.uniqueCode" type="number" />
          </div>

          <div class="form-group">
            <label class="form-title required">Status</label>
            <label class="form-explanation">Choose the employee status.</label>

            <div class="col-4">
              <input name="status-radio" class="custom-radio primary" id="status-radio-off" type="radio"
                [value]="'off-roll'" [(ngModel)]="newEmployee.status">
              <label for="status-radio-off">
                <span class="text">Off Roll</span>
              </label>
            </div>

            <div class="col-4">
              <input name="status-radio" class="custom-radio primary" id="status-radio-on" type="radio"
                [value]="'on-roll'" [(ngModel)]="newEmployee.status">
              <label for="status-radio-on">
                <span class="text">On Roll</span>
              </label>
            </div>

            <div class="col-4">
              <input name="status-radio" class="custom-radio primary" id="status-radio-trainee" type="radio"
                [value]="'trainee'" [(ngModel)]="newEmployee.status">
              <label for="status-radio-trainee">
                <span class="text">Trainee</span>
              </label>
            </div>

            <div class="col-6">
              <input name="status-radio" class="custom-radio primary" id="status-radio-temp" type="radio"
                [value]="'temp'" [(ngModel)]="newEmployee.status">
              <label for="status-radio-temp">
                <span class="text">Casual / Temp</span>
              </label>
            </div>

            <!-- <app-custom-validation [model]="roleVar" [required]="'Choose a role for the employee.'">
            </app-custom-validation> -->
          </div>

          <div class="form-group">
            <label class="form-title required">Can Login</label>
            <label class="form-explanation">Check the box is the user will be allowed to login into the
              application.</label>

            <div class="col-12">
              <input #canLoginVar="ngModel" name="canLogin-checkbox" class="custom-checkbox primary"
                id="canLogin-checkbox" type="checkbox" [value]="true" [(ngModel)]="newEmployee.canLogin">
              <label for="canLogin-checkbox">
                <span class="text">Can Login</span>
              </label>
            </div>

          </div>

          <div class="form-group">
            <label class="form-title">Role</label>
            <label class="form-explanation">Choose the role to be assigned to the employee.</label>
            <ng-select #roleVar="ngModel" name="roleOptions" [(ngModel)]="newEmployee.roleSelection"
              (change)="newEmployee.roleId = $event.value" [items]="employeeRoles" [multiple]="false"
              [clearable]="false" required placeholder="Choose employee role">
            </ng-select>
            <app-custom-validation [model]="roleVar" [required]="'Choose a role for the employee.'">
            </app-custom-validation>
          </div>

        </form>
      </div>

      <div footer-buttons class="footer-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="isProcessing"
          [ngClass]="[isProcessing ? 'spinning' : '', !employeeForm.valid ? 'disabled' : '']"
          (click)="addNewEmployee(employeeForm)">
          <span>Add New Employee</span>
          <i class="fas fa-spinner spinner"></i>
        </button>
      </div>

    </app-custom-modal>

  </div>
</div>
