<div class="settings-container settings-grade-container p-sm">
  <div *ngIf="activeGrades.length !== 0" class="new-button-div text-right">
    <button class="btn btn-primary" (click)="add(gradeForm)">New Grade</button>
  </div>

  <div *ngIf="activeGrades.length === 0" class="empty-state p-md text-center">
    <div class="empty-icon">
      <i [ngClass]="icon"></i>
    </div>
    <h4>No grades added yet.</h4>
    <div class="text-sm text-grey">Click the button below to add new grade.</div>
    <div class="text-center mt-md">
      <button class="btn btn-primary btn-sm btn-outline" (click)="add(gradeForm)">New Grade</button>
    </div>
  </div>

  <div *ngIf="activeGrades.length > 0" class="added-grade-container mt-md">
    <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-responsive table-striped">
      <thead>
        <tr>
          <th style="width: 20%;">Grade Name</th>
          <th style="width: 45%;">Description</th>
          <th style="width: 15%;">Employee Count</th>
          <th style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of activeGrades">
          <td>
            <span>{{ item.grade }}</span>
          </td>
          <td>
            <span>{{ item.description }}</span>
          </td>
          <td>
            <span>{{ item.employeesCount }}</span>
          </td>
          <td>
            <button class="btn btn-primary btn-outline btn-xs mr-sm" [tooltip]="'Edit grade information'"
              (click)="edit(item)">
              <i class="fas fa-pen"></i>
              <!-- <span>Edit</span> -->
            </button>

            <button class="btn btn-danger btn-xs"
              [tooltip]="item.employeesCount > 0 ? 'Cannot delete this grade as employees are assigned to it.' : 'Delete this grade.'"
              [disabled]="item.employeesCount > 0" (click)="deleteAlert(item)">
              <i class="fas fa-trash"></i>
              <!-- <span>Delete</span> -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="text-center mt-lg pt-lg b-t">
    <button class="btn btn-primary" (click)="updateCompanySettings()" [disabled]="isProcessing"
      [ngClass]="isProcessing ? 'spinning' : ''">
      <span>Save Grades</span>
      <i class="fas fa-spinner spinner ml-xs"></i>
    </button>
  </div> -->

  <app-custom-modal #gradeModal [title]=" grade.gradeId ? 'Update Grade Details' : 'Add New Grade'"
    [subTitle]="'Enter the details for the grade to add or update the information.'">
    <div class="new-documentation">
      <div *ngIf="isAdded" class="mt-sm mb-sm alert alert-danger alert-sm">
        The grade you are trying to add is already present. Try another grade.
      </div>
      <form #gradeForm="ngForm" class="form show-character-count">
        <div class="form-group">
          <label class="form-title required">Grade Name</label>
          <label class="form-explanation">Enter the name of the grade.</label>
          <input #gradeVar="ngModel" class="form-control" name="grade" [(ngModel)]="grade.grade" type="text" required
            [disabled]="isUpdating" />
          <app-custom-validation [model]="gradeVar" [required]="'Enter the name for the grade.'">
          </app-custom-validation>
        </div>
        <div class="form-group">
          <label class="form-title">Grade Description</label>
          <label class="form-explanation">Enter the description for the page that is created.</label>
          <textarea #descriptionVar="ngModel" class="form-control" name="description" [(ngModel)]="grade.description"
            rows="5" characterCount characterLimit="500"></textarea>
        </div>
      </form>
    </div>

    <div footer-buttons class="footer-buttons">
      <button class="btn btn-primary" (click)="addOrUpdate()">
        <span>{{ grade.gradeId ? 'Update Grade' : 'Add Grade' }}</span>
      </button>
    </div>

  </app-custom-modal>
</div>
