.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  box-shadow: 3px 3px 5px 0px $lighter-grey;
  border: 1px solid rgba(200, 200, 200, 0.2);
  background: #012e2d;
  // background: $almost-white;
  display: flex;
  flex-direction: column;
  z-index: 1040;

  .logo-container {
    width: 60px;
    height: 60px;

    .logo {
      width: 60px;
      height: 60px;
      padding-top: 10px;
      padding-left: 10px;
      overflow: hidden;

      img {
        height: 40px;
      }
    }
  }

  .menu-items-container {
    flex: 1;
    width: 60px;

    .menu-items {
      height: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menu-item {
        height: 40px;
        width: 60px;
        cursor: pointer;
        position: relative;
        margin: 10px 0;

        .menu-item-container {
          height: 40px;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .menu-item-icon {
            i {
              font-size: $font-size-base;
              color: $mid-grey;
            }
          }

          .menu-item-title {
            display: none;
          }
        }

        .menu-item-info {
          opacity: 0;
          visibility: hidden;
          transform: translateX(20px);
          position: absolute;
          top: 10px;
          left: 60px;
          background: $primary;
          color: $white;
          border-radius: 5px;
          font-size: $font-size-xxs;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          height: 30px;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          width: auto;
          white-space: nowrap;
        }

        &:before {
          content: "";
          width: 4px;
          position: absolute;
          top: 50%;
          height: 1%;
          left: 0px;
          border-radius: 15px;
          transition: 0.3s;
        }

        &.active {
          &:before {
            background-color: $primary;
            transition: 0.3s;
            top: 0;
            height: 100%;
          }

          .menu-item-container {
            .menu-item-icon {
              border-radius: 5px;
              background: $lighter-grey;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: $primary;
              }
            }
          }
        }

        &.show-menu {
          .menu-item-info {
            opacity: 1;
            visibility: visible;
            transform: translateX(5px);
          }
        }

        &:hover {
          .menu-item-container {
            .menu-item-icon {
              border-radius: 5px;
              background: $lighter-grey;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s;

              i {
                color: $dark-grey;
              }
            }
          }
        }
      }

    }
  }

  .user-action-container {
    width: 60px;
    height: 60px;

    .user-avatar {
      display: flex;
      justify-content: center;
      align-content: center;
      position: relative;
      width: 40px;
      height: 40px;
      margin: auto;
      background: $secondary;
      color: $almost-white;
      border-radius: 100px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        cursor: pointer;
      }

      .user-text {
        font-size: 30px;
      }

      .notification-circle {
        width: 10px;
        position: absolute;
        top: -5px;
        right: 0px;
        height: 10px;
        border-radius: 10px;
        background: $secondary;
      }
    }

    .dropdown-menu {
      width: 280px;
      padding: 0;
      left: 40px !important;
      min-height: 500px;

      .user-info {
        .user-image {
          display: flex;
          justify-content: center;
          width: 150px;
          height: 150px;
          margin: 20px auto;

          .user-avatar-thumbnail {
            background-color: $secondary;
            padding: 3px;
            width: 150px;
            height: 150px;
            border-radius: 100px;

            .user-avatar-image {
              background-size: cover;
              background-position: center;
              width: 100%;
              height: 100%;
              border-radius: 100px;
            }

            img {
              width: 150px;
              height: 150px;
              margin: auto;
              border-radius: 100px;
            }

            .text {
              font-size: 35px;
              background: $lighter-grey;
              width: 144px;
              height: 144px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100px;
            }
          }
        }

        .user-name {
          font-weight: 500;
          text-align: center;
          font-size: $font-size-lg;
          word-break: break-word;
        }

        .user-meta {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          >div {
            font-size: $font-size-sm;
            font-weight: 300;
          }
        }
      }

      .user-dropdown {
        .dropdown-item {
          .notifiation-count {
            padding: 1px 10px;
            font-size: $font-size-xxs;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: $secondary;
            color: $white;
            position: absolute;
            margin-left: 10px;
            margin-top: 3px;
            font-weight: 400;
          }

          i {
            font-size: $font-size-sm;
            margin-right: $spacing-sm;
          }

          span {
            font-weight: 400;
          }

          &.logout {
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }
}
