<app-menu-bar></app-menu-bar>
<div class="app-content">
  <div class="system-error-container">
    <div class="image-container">
      <img src="/assets/images/unauthorized.svg" alt="Un Authorized" />
    </div>
    <div class="error-content text-center mt-lg">
      <h3>You are not allowed to view this page.</h3>
      <div class="text-sm">The page you have requested is not allowed to access based on your role. If you still wish to
        view the page contact the administrator.</div>
    </div>
  </div>
</div>
