<div class="auth-container row no-x-m unified">
  <div class="image-container col-12">
    <div class="login-container">
      <div class="login-header mb-md">
        <div class="logo mb-lg">
          <img [src]="logoUrl" alt="Kubota" />
        </div>
        <h3 class="text-center">{{ isTest ? 'HRMS Test' : 'HRMS' }}</h3>
        <!-- <div class="text-sm">Login using your official Kubota employee code and password.</div> -->
      </div>
      <div class="login-body">
        <form #companyDetailsForm="ngForm" class="contrast-border hide-error-icon show-character-count">

          <div *ngIf="isLoginError" class="alert alert-xs alert-danger alert-block">
            {{loginErrorMessage}}
          </div>
          <div *ngIf="accountLocked" class="alert alert-xs alert-danger alert-block">
            Your account is locked. Please contact administrator.
          </div>
          <div *ngIf="isCaptchaError" class="alert alert-xs alert-danger alert-block">
            Captcha validation failed. Please re-check captcha. 
          </div>
          <div *ngIf="isLoginSuccess" class="alert alert-xs alert-success alert-block">
            OTP is sent to your email id. 
          </div>

          <div class="form-group">
            <label class="form-title">Login Id</label>
            <!-- <label class="form-explanation">Enter your official employee Code.</label> -->
            <input #emailVar="ngModel" name="email" type="text" [(ngModel)]="loginRequest.emailId" class="form-control"
              placeholder="Enter your official employee Code" required [disabled]="isLoginSuccess"/>
              <!-- [disabled]="isLoginSuccess" -->
            <app-custom-validation [model]="emailVar" [required]="'Enter your official employee Code.'">
            </app-custom-validation>
          </div>

          <div class="form-group mt-md">
            <label class="form-title">Password</label>
            <!-- <label class="form-explanation">Enter the application password.</label> -->
            <input #passwordVar="ngModel" name="password" [(ngModel)]="loginRequest.password" placeholder="*********"
              type="password" class="form-control" required [disabled]="isLoginSuccess"/>
              <!--  [disabled]="isLoginSuccess" -->
            <app-custom-validation [model]="passwordVar" [required]="'Please enter the password.'">
            </app-custom-validation>
          </div>

          <div class="form-group mt-md" *ngIf="isLoginSuccess">
            <label class="form-title">OTP</label>
            <!-- <label class="form-explanation">Enter the application password.</label> -->
            <input #otpVar="ngModel" name="otppassword" [(ngModel)]="loginRequest.OTPPassword" placeholder="Enter your OTP"
              type="text" class="form-control" [pattern]="regex.otpLength" required
              onkeypress="return (event.keyCode > 64 && event.keyCode < 91) || (event.keyCode > 96 && event.keyCode < 123)" />
            <app-custom-validation [model]="otpVar" [required]="'Please enter your OTP.'"
            [pattern]="'Please enter 8 characters OTP.'">
            </app-custom-validation>
          </div>

          <!-- <div class="form-group mt-md">
            <ngx-recaptcha2 #captchaElem siteKey="6Lc_jSYaAAAAALF5lZ5_31JaaoZSYP9d__SBZK_F"
            (reset)="handleReset()"
            (expire)="handleExpire()"
            (error)="handleError()"
            (success)="handleSuccess($event)"
            >
            </ngx-recaptcha2>
          </div> -->

          <div class="form-group mt-md">

            <button class="btn btn-primary btn-block mb-sm" *ngIf="!isLoginSuccess" [ngClass]="isProcessing ? 'spinning': ''"
              [disabled]="isProcessing" (click)="onLoginClick()"
              [disabled]="isProcessing || companyDetailsForm.invalid">
              <span>Log In</span>
              <i class="fas fa-spinner spinner"></i>
            </button>

            <button class="btn btn-primary btn-block mb-sm" *ngIf="isLoginSuccess" [ngClass]="isProcessing ? 'spinning': ''"
              (click)="verifyLoginOtp()"
              [disabled]="isProcessing || companyDetailsForm.invalid">
              <span>Verify OTP</span>
              <i class="fas fa-spinner spinner"></i>
            </button>

            <div class="text-xs forgot-password text-right">
              <a [routerLink]="'/forgot-password'">
                Forgot Password?
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
