
.project-list-container {
    margin-top: 20px;
    .tab-container {
        .tab-pane {
            padding: 15px 0;
            // border: solid 1px black;
            border: solid 1px #77adaf;
            // border-top: none;
            border-radius: 0 0 5px 5px;
        }
        .tab-body {
            padding: 0 5px;
        }
    }

}

